body {

    background-color: #555757;
    font-size: 75px;


}

img {
    position: center;
    background: white;
    width: 50px;
    height: 50px;
    top: 200px;
    left: 100px;
    padding: white;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

/* Navigation links */
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 210px;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: cadetblue;
}

/* Style the current/active link */
.navbar a:active {
    background-color: #4CAF50;
}


#bannerimg {
    width: 100%;
    height: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}




.text {
    color: white;
    text-align: center;
    font-size: 65px;
}

.pic {
    position: relative;
    width: 40%;
    height: 20%;
    margin: 2rem;
    
    top: 150px;
    left: 780px;
    padding: 1px;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;

}
.pic3 {
    position: relative;
    width: 30%;
    height: 50%;
    margin: 2rem;
    
    top: 100px;
    left: 780px;
    padding: 1px;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;

}

.pic2 {
    position: relative;
    width: 40%;
    height: 20%;
    bottom: 400px;
    left: 780px;
    padding: 1px;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;

}


.box {
   position: relative;
    width: 30%;
    height: 20%;
    left: 10px;
    bottom: 450px;
    margin: 1rem;
    padding: 2rem;
    color: black;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    background-color: cadetblue;
}


.boxp {
   position: relative;
    width: 30%;
    height: 20%;
   left: 850px;
    top: 800px;
    margin: 1rem;
    padding: 2rem;
    color: black;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    background-color: cadetblue;
}
.boxp2 {
   position: relative;
    width: 30%;
    height: 20%;
   left: 10px;
    top: 600px;
    margin: 1rem;
    padding: 2rem;
    color: black;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    background-color: cadetblue;
}



.light{
    left:10px;
    bottom:20px;
}

.dice{
    left:50px;
    bottom:100px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: right;
  width: 50%;
  height:100%;
  padding: 5px;
    bottom:500px;
}


.column2 {
    position: relative;
    width: 30%;
    height: 20%;
    left: 10px;
    bottom: 430px;
    margin: 1rem;
    padding: 2rem;
}

/* Clear floats after image containers */
/*.row::after {
  content: "";
  clear: both;
  display: table;
} */





.sq {
   position: relative;
    width: 30%;
    height: 20%;
    left: 800px;
    bottom: 800px;
    margin: 1rem;
    padding: 2rem;
    color: black;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    background-color: cadetblue;
}


.boxdt {
   position: relative;
    width: 30%;
    height: 20%;
    left: 10px;
    bottom: 625px;
    margin: 1rem;
    padding: 2rem;
    color: black;
    font-size: 1 rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: double;
    background-color: #E69044;
}

.boxd {
   position: relative;
    width: 30%;
    height: 20%;
    left: 10px;
    bottom: 800px;
    margin: 1rem;
    padding: 2rem;
    color: black;
    font-size: 1 rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: double;
    background-color: #ff4d94;
}
.box2 {
   position: relative;
    width: 30%;
    height: 20%;
    left: 10px;
    bottom: 450px;
    margin: 1rem;
    padding: 2rem;
    color: #FFF;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: double;
    background-color: #253C1D;
}
.box3 {
   position: relative;
    width: 30%;
    height: 20%;
    left: 10px;
    bottom: 700px;
    margin: 1rem;
    padding: 2rem;
    
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: dashed;
    background-color: cadetblue;
}

.boxx {
    position: relative;
    width: 30%;
    margin: 1rem;
    padding: 2rem;
    color: #FFF;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    border-width: 10px;
    border-radius: 30px;
    border-color: whitesmoke;
    border-style: double;
    background-color: cadetblue;
}

#bio {
    color: cadetblue;
    border-radius: 17px;
    border-color: antiquewhite;
    border-style: solid;
    padding: 10px;
}

#lightning{
     position: center;
    background: white;
    margin-top: -400px;
    margin-left: 80px;
    border-width: 10px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    
    
}